*~
*.swp
*.pyc
*-journal

/*\.egg-info
/database\.sqlite

/\.tox
/bower_components
/node_modules
/fixtures_*\.json
/static
/virtenv

/layout/build/

/media/thumbnails/
/media/filer/

/homepage/local_settings.py
