*~
*.swp
*.pyc
*-journal

/*\.egg-info
/database\.sqlite

/\.tox
/bower_components
/node_modules
/fixtures_*\.json
/static
/virtenv

/src/build/

/media/filer_public_thumbnails/

/homepage/local_settings.py
