*~
*.swp
*.pyc
*-journal

/*\.egg-info
/*/database\.sqlite

/\.tox
/bower_components
/fixtures_*\.json
/static
/virtenv

/media/pictures/
/media/gallery/
/media/filer_public/
/media/filer_public_thumbnails/
