{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all" />
        <meta name="author" content="Sebastian Braun" />
        <meta name="copyright" content="Sebastian Braun, {{ YEAR }}" />
        <meta name="Content-Language" content="{{ LANGUAGE_CODE }}" />
        <meta name="language" content="{{ LANGUAGE_CODE }}" />
        <meta name="description" content="{% block meta-description %}{% endblock %}" />
        <title>Sebastian Braun - {% block title %}{% endblock %}</title>
        <link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet">{% render_block "css" %}
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        {% cms_toolbar %}
        <div id="wrap">
            <div id="bg"></div>
            <header class="hidden-xs-down" style="background-image:url({{ MEDIA_URL }}{{ page_header.image }});">
                <div class="container">
                <h1>Sebastian Braun</h1>
                <img class="img-thumbnail hidden-sm-down" src="/media/picture.jpg" alt="">
                <p>{{ page_header.title }}</p>
                </div>
            </header>
            {% render_block "body" %}
            <div id="navigation">
               <nav class="navbar navbar-full navbar-dark bg-primary">
                   <div class="container">
                       <a class="navbar-brand hidden-sm-up" href="#">Sebastian Braun</a>
                       <ul class="nav navbar-nav hidden-xs-down">{% show_menu 0 0 0 0 "bootstrap4/menu.html" %}</ul>
                       <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsing_navbar">
                           &#9776;
                       </button>
                   </div>
               </nav>
               <div class="collapse hidden-sm-up bg-inverse" id="collapsing_navbar">
                   <div class="container">
                       <ul class="nav nav-pills nav-stacked">{% show_menu 0 0 0 0 "bootstrap4/menu_pills.html" %}</ul>
                   </div>
               </div>
            </div>
            {% block base_content %}{% endblock %}


            <div class="container">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
            </div>


        </div>
        <footer>
            <div class="container">
                {% block footer %}{% endblock %}
            </div>
        </footer>
        <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>{% render_block "js" %}
    </body>
</html>
