# 2016-02-21: release 1.9.X is incompatible with django-cms
# 2016-04-11: update from 1.8.11 to current version
Django==1.8.12

# 2016-03-15: update from 3.2.0 to current version
django-cms==3.2.3

# 2016-03-15: update from 1.0.8 to current version
djangocms-admin-style==1.1.0

# 2016-02-04: downgrade from 1.6.0 to 1.5.2 (1.6.0 is not working properly)
# 2016-03-15: update from 1.5.2 to current version (1.6.0 seems to work)
django-crispy-forms==1.6.0

# 2016-03-15: update from 1.1.0 to current version
django-filer==1.1.1

# 2016-03-15: update from 0.8.1 to current version
django-polymorphic==0.9.1

# 2016-01-26: release 1.10.X is incompatible with django-cms
django-reversion==1.9.3

# 2016-03-15: current version
django-sekizai==0.9.0

# 2016-03-15: current version
djangocms-googlemap==0.4.0

# 2016-03-15: update from 1.7.1 to current version
djangocms-link==1.7.2

# 2016-03-15: update from 2.8.1 to current version
djangocms-text-ckeditor==2.9.0

# 2016-02-21: current version
psycopg2==2.6.1

# 2016-03-15: update from 2015.7 to current version
pytz==2016.1

# 2016-03-15: current version
pip==8.1.0

# 2016-02-21: update to current version
python-logstash==0.4.6
