cmsplugin-filer==1.0.0
django-appconf==1.0.1
django-classy-tags==0.6.2
django-debug-toolbar==1.4
django-mptt==0.7.4
django-polymorphic==0.7.2
Django-Select2==4.3.2
django-taggit==0.17.3
django-treebeard==3.0
djangocms-admin-style==1.0.5
easy-thumbnails==2.2.1
html5lib==0.9999999
Pillow==3.0.0
psycopg2==2.6.1
python-logstash==0.4.5
python-memcached==1.57
six==1.10.0
sqlparse==0.1.18
Unidecode==0.4.18
