{% extends CMS_TEMPLATE %}

{% load thumbnail i18n %}

{% block title %}{{ block.super }} - {{ object.title }}{% endblock %}

{% block content %}
<div class="container p-x-0 bg-inverse">
{% thumbnail object.image size subject_location=object.image.subject_location as thumbnail %}
<img class="img-fluid center-block" src="{{ MEDIA_URL }}{{ thumbnail }}" alt="{{ object.title }}">
</div>
<ul class="pager">
    {% if object.get_next_by_date %}
    <li class="previous"><a href="{{ object.get_next_by_date.get_absolute_url }}">{% trans "Newer images" %}</a></li>
    {% endif %}
    <li><a href="{% url "gallery-index" %}">{% trans "Back to the gallery" %}</a></li>
    {% if object.get_previous_by_date %}
    <li class="next"><a href="{{ object.get_previous_by_date.get_absolute_url }}">{% trans "Older images" %}</a></li>
    {% endif %}
</ul>
{% endblock %}
