{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all" />
        <meta name="author" content="Sebastian Braun" />
        <meta name="copyright" content="Sebastian Braun, {{ YEAR }}" />
        <meta name="Content-Language" content="{{ LANGUAGE_CODE }}" />
        <meta name="language" content="{{ LANGUAGE_CODE }}" />
        <meta name="description" content="{% block meta-description %}{% endblock %}" />
        <title>Sebastian Braun - {% block title %}{% endblock %}</title>
        <link href="{{ MEDIA_URL }}css/elmnt.min.css" rel="stylesheet">{% render_block "css" %}
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        {% cms_toolbar %}
        <div id="wrap"></div>
        <header class="hidden-xs" style="background-image:url({{ MEDIA_URL }}img/tolmin.jpg);">
            <div class="container">
            <img class="thumbnail" src="/media/picture.jpg" alt="Profile image example"/>
            <h1>Sebastian Braun</h1>
            <p>Aus der Luft &uuml;ber &Ouml;l&uuml;deniz</p>
            </div>
        </header>
        {% render_block "body" %}
        <div id="nav" class="navbar navbar-elmnt">
            <div class="container">
                <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/{{ LANGUAGE_CODE }}/">Sebastian Braun</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% show_menu 0 0 0 0 "bootstrap_menu.html" %}
                        {% if request.user.is_superuser %}
                        <li class="hidden-xs"><a href="{% url "admin:index" %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
                        {% elif request.user.is_authenticated %}
                        <li class="hidden-xs"><p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><p></li>
                        {% endif %}
                        {% language_chooser "language_chooser.html" %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main" class="container">{% block base_content %}{% endblock %}</div>
        <footer>
            <div class="container">
                <p class="pull-right"><a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a></p>
                {% block footer %}{% endblock %}
            </div>
        </footer>
        <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}js/elmnt.min.js"></script>{% render_block "js" %}
    </body>
</html>
