{% extends CMS_TEMPLATE %}

{% load i18n %}

{% block title %}{{ block.super }} {% trans "Weights" %}{% endblock %}

{% block sidebar %}{% if profile %}
<ul>
    {% if latest_data %}
    <li>{% trans "Last" %}: {{ latest_data.date|date:"d. N H:i" }}</li>
    <li>{% trans "Weight" %}: {{ latest_data.weight }} kg</li>
    <li>{{ latest_data.calc_vweight|floatformat:2 }}&plusmn;{{ latest_data.calc_dweight|floatformat:2 }} kg</li>
    <li>{{ latest_data.calc_vslope|floatformat:3 }}&plusmn;{{ latest_data.calc_dslope|floatformat:3 }} kg/{% trans "week" %}</li>
    <li>{{ latest_data.calc_vbmi|floatformat:3 }}&plusmn;{{ latest_data.calc_dbmi|floatformat:3 }}</li>
    {% endif %}
    <li><a href="{% url "weights-create" %}">{% trans "Add data" %}</a></li>
    <li><a href="{% url "weights-update" %}">{% trans "Update latest entry" %}</a></li>
    <li><a href="{% url "weights-delete" %}">{% trans "Delete latest entry" %}</a></li>
    <li><a href="{% url "weights-profile" %}">{% trans "Edit profile" %}</a></li>
</ul>
{% endif %}{% endblock %}
