{% extends CMS_TEMPLATE %}

{% load i18n sekizai_tags %}

{% block title %}{{ block.super }} Weights{% endblock %}

{% block content %}
{% addtoblock "js" %}<script src="{{ MEDIA_URL }}js/d3.v3.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ MEDIA_URL }}js/c3.min.js"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link href="{{ MEDIA_URL }}css/c3.min.css" rel="stylesheet">{% endaddtoblock %}

<div id="graph"></div>

{% addtoblock "js" %}<script>
var chart = c3.generate({
    bindto: '#graph',
    size: {
        height: 450,
    },
    data: {
        url: './api/',
        x: 'date',
        xFormat: '%Y-%m-%d %H:%M:%S',
        types: {
        },
        colors: {
            weight: '#000000',
            cweight: '#0000ff',
            cweight_h: '#9999ff',
            cweight_l: '#9999ff',
            min: '#aaaaaa',
            max: '#aaaaaa'
        },
        names: {
            weight: 'Name 1',
            cweight: 'Name 2'
        }
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%m-%d %H:%M',
                count: 4,
            }
        }
    },
    legend: {
        hide: ['cweight_l','cweight_h']
    }
});
</script>{% endaddtoblock %}
{% endblock %}
