{% extends "weights/base.html" %}

{% load i18n sekizai_tags %}

{% block title %}{{ block.super }} {% trans "Index" %}{% endblock %}

{% block content %}{% if profile %}
{% addtoblock "js" %}<script src="{{ MEDIA_URL }}js/d3.v3.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ MEDIA_URL }}js/c3.min.js"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link href="{{ MEDIA_URL }}css/c3.min.css" rel="stylesheet">{% endaddtoblock %}
{% addtoblock "js" %}<script>
var chart = c3.generate({
    bindto: '#graph',
    size: {
        height: 450,
    },
    data: {
        url: './api/',
        x: 'date',
        xFormat: '%Y-%m-%d %H:%M:%S',
        types: {
        },
        colors: {
            weight: '#000000',
            cweight_h: '#9999ff',
            cweight_l: '#9999ff',
            mid: '#000099',
            slope: '#ffaa00',
            slope_h: '#ffaa99',
            slope_l: '#ffaa99',
        },
        names: {
            weight: 'Gewicht',
            mid: 'Limit',
            slope: 'Gewichtsänderung pro Woche',
        },
        axes: {
            weight: 'y',
            cweight_h: 'y',
            cweight_l: 'y',
            mid: 'y',
            slope: 'y2',
            cweight: null,
            slope_h: null,
            slope_l: null
        }
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%m-%d %H:%M',
                count: 4,
            }
        },
        y: {
            tick: {
                format: d3.format('.1f')
            }
        },
        y2: {
            show: true,
            tick: {
                format: d3.format('+.2f')
            }
        }
    },
    legend: {
        hide: ['cweight', 'cweight_l', 'cweight_h', 'slope_l', 'slope_h']
    },
    grid: {
        y: {
            lines: [
                {value: 0.0, text: '', axis: 'y2'}
            ]
        }
    }
});
$(document).ready(function() {
    $('.loaddata').click(function (event) {
        event.preventDefault();
        chart.load({url:$(this).attr('href')});
        $('.loaddata').removeClass('bg-info');
        $(this).addClass('bg-info');
    });
});
</script>{% endaddtoblock %}
<div id="graph"></div>
{% endif %}
{% endblock %}

{% block sidebar %}{% if profile %}
{{ block.super }}
<h4>{% trans "Data" %}</h4>
<ul>
    <li><a class="loaddata bg-info" href="{% url "weights-api" %}">Latest Data</a>
    {% for item in navigation %}
    {% ifchanged %}
    <li><a class="loaddata" href="{% url "weights-api" year=item.date.year %}">{% trans "Year" %} {{ item.date|date:"Y" }}</a></li>
    {% endifchanged %}
    <li><a class="loaddata" href="{% url "weights-api" year=item.date.year month=item.date.month %}">{{ item.date|date:"F Y" }}</a></li>
    {% endfor %}
</ul>
{% endif %}{% endblock %}
