{% extends "diet/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ block.super }} - {% trans "Statistic" %}{% endblock %}

{% block content %}
<h1>{% trans "Chart" %}</h1>
<div class="document">
  <img alt="" src="{% url "diet_graph" tag="stats" %}" />
</div>
<h1>{% trans "Status" %}</h1>
<div class="document"><p>
{% trans "Weight" %}: {{ dietstats.weight_value|floatformat:2 }}&plusmn;{{ dietstats.weight_error|floatformat:2 }} kg<br />
{% if dietstats.change_bool %}
  {% trans "Slope" %}:  {{ dietstats.change_value|floatformat:0 }}&plusmn;{{ dietstats.change_error|floatformat:0 }} {% trans "gramm per week" %}<br />
{% endif %}
BMI: {{ dietstats.bmi_value|floatformat:2 }}&plusmn;{{ dietstats.bmi_error|floatformat:2 }}<br />
{% trans "Target-BMI" %}: {{ dietstats.target_bmi|floatformat:2 }} ({{ dietstats.target_weight|floatformat:1 }}&plusmn;{{ dietstats.target_error|floatformat:1 }} kg)
</p></div>

{% if not dietstats.target_reached %}
<h1>{% trans "Prediction" %}</h1>
<div class="document"><p>
  {% if dietstats.target_reach %}
    {% blocktrans with dietstats.target_weeks|floatformat:1 as var1 and dietstats.target_date|date as var2 %}
    Reaching target BMI in approximate {{ var1 }} weeks arround {{ var2 }} {% endblocktrans %}
  {% else %}
    <b>{% trans "A prediction is not possible" %}</b><br />
    {{ dietstats.target_msg  }}
  {% endif %}
</p></div>
{% endif %}

{% endblock %}
