{% extends "diet/base.html" %}
{% load i18n  %}

{% block title %}{{ block.super  }} - {{ data.date|date:"F Y" }}{% endblock %}

{% block Content %}
<h1>{% trans "Statistic" %}: {{ data.date|date:"F Y" }}</h1>
<div class="document">
<img alt="" src="{{ img.get_img_url }}" />
</div>

<h1>{% trans "Statistic" %}</h1>
<div class="document">
<p>{% trans "average weight" %}: {{ data.weight|floatformat:2 }} kg ({{ data.dweight|floatformat:2 }} kg)
<br />{% trans "average BMI" %}: {{ data.bmi|floatformat:2 }} ({{ data.dbmi|floatformat:2 }})
</p>
</div>

{% endblock %}
